* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Comic Neue", cursive;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: rgb(29, 29, 29);
}

/* Project */
main {
    max-width: 120rem;
}
